img{
    width: 100px;
    height: 100px;
}
div{
    background: #FBFCFC;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}
.miClass{
    display: block;
}
.miClass1{
    display: block;
}
.miClass2{
    display: block;
}